<div class="body-informasi">    
    {%if periodic == 'yearly'%}
        {%for a in mro_detail_2%}
        {% if a.branch == cabang %}
            <div style="width: 150px;margin-bottom: 20px;">
                <img src="../static/image/logo.png" alt="">
            </div>

            <table>
                <tr style="padding-top: 1px;">
                    <td>Id Report : {{ running_id }}</td>
                    <td>Kode Cabang Utama: {{ cabang }} - {{ a.nama_mro }}</td>
                    <td>Data Laporan tanggal : {{ enddate | date:"d, b / Y" }} - {{ startdate | date:"d, b / Y" }}</td>
                </tr>

                <tr style="padding-top: 1px;">
                    <td>Email Penerima : {{ email_penerima }}</td>
                    <td>Format Lampiran : <b>Tahunan</b> - <b>Produksi Segmentasi</b></td>
                    <td>Laporan Dikirim : {{ today }}</td>
                </tr>
            </table>
            
            <hr class='hrItem' />

            <h6 style="font-size: 10px;">CABANG / ROS : {{a.nama_cabang}} / {{a.nama_mro}}</h6>        
            <table id="table-info">
            <thead>
                <tr style="background-color: rgb(3, 15, 119);padding:5px 5px 2px 5px;margin-bottom: 10px;">
                    <th scope="col" style="color:white">Bulan</th>
                    <th scope="col" style="color:white">Syariah</th>
                </tr>
            </thead>
            {%if judul_format == 'tahunan_detail' %}
                {% for b in segmentasi_kinerja_2 %}
                {% if b.kode_mro == a.kode_mro %}
                {% load humanize %}
                    <tbody style="margin-top: 10px;">
                        <tr>
                            <td style="text-align:center;padding-top:5px;">{{ b.month|date:"M/Y" }}</td>
                            <td style="text-align:center;padding-top:5px;">Rp. {{ b.syariah|floatformat:0  | intcomma }}</td>
                        </tr>
                    </tbody>
                {%endif%}
                {%endfor%}
            {%endif%}
            </table>

            <div class="content-block">
                <table style="background-color: rgb(236, 236, 236);">
                    {%for b in segmentasi_tahuanan%}
                    {%if b.kode_mro == a.kode_mro %}
                    {% load humanize %}
                    <tbody>
                        <tr>
                            <td style="text-align:center;padding-top:5px;color:black;"><h6>Total</h6></td>
                            <td style="text-align:center;padding-top:5px;"><h6>Rp. {{ b.syariah|floatformat:0  | intcomma }}</h6></td>
                        </tr>
                    </tbody>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>

            <!-- {%if a.kode_mro == cabang%}
            <div class="content-block">
                <table style="background-color: rgb(236, 236, 236);border-top: 5px solid white;">
                    <tbody>
                        <tr>
                            <td style="text-align:center;padding-top:5px;color:black;"><h6>Target Tahun {{today | date:"Y"}}</h6></td>
                            <td style="text-align:center;padding-top:5px;"><h6>Rp.0</h6></td>
                            {%for a in target%}
                            {%if a.SEGMENT == 'SYARIAH'%}
                                {%if a.BRANCH == cabang%}
                                    <td style="text-align:center;padding-top:5px;color:black;"><h6>Rp.{{a.TARGET | floatformat:0 | intcomma}}</h6></td>
                                {%endif%}
                            {%endif%}
                            {%endfor%}
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="content-block">
                <table style="background-color: rgb(236, 236, 236);border-top: 5px solid white;">
                    <tbody>
                        <tr>
                            <td style="text-align:center;padding-top:5px;color:black;"><h6>Persentase Pencapaian Target</h6></td>
                            <td style="text-align:center;padding-top:5px;"><h6>%</h6></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="content-block" style="margin-bottom: 3px;">
                <table style="background-color: rgb(236, 236, 236);">
                    <tbody>
                        <tr>
                            <td style="text-align:left;padding-top:5px;color:black;padding-left: 5px;"><h6>Total Keseluruhan Premi Segmentasi : </h6></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            {%endif%} -->
        <div>
            <pdf:nextpage /> 
        </div>
        {%endif%}
        {%endfor%}
    {%elif periodic == 'monthly'%}
        {%for a in mro_detail_bulanan_2%}
        {% if a.branch == cabang %}
            <div style="width: 150px;margin-bottom: 20px;">
                <img src="../static/image/logo.png" alt="">
            </div>

            <table>
                <tr style="padding-top: 1px;">
                    <td>Id Report : {{ running_id }}</td>
                    <td>Kode Cabang Utama: {{ a.kode_mro }} - {{ a.nama_mro }}</td>
                    <td>Laporan Dikirim : {{ today }}</td>
                </tr>

                <tr style="padding-top: 1px;">
                    <td>Email Penerima : {{ email_penerima }}</td>
                    <td>Format Lampiran : <b>Bulanan</b> - <b>Produksi Segmentasi</b></td>
                    <td>Data Laporan tanggal : {{ enddate | date:"d, b / Y" }} - {{ startdate | date:"d, b / Y" }}</td>
                </tr>
            </table>
            
            <hr class='hrItem' />

            <h6 style="font-size: 10px;">CABANG / ROS : {{a.nama_cabang}} / {{a.nama_mro}}</h6>
            <table>
                <tr>
                    <td style="vertical-align: top;">
                        <table id="table-info">
                            <thead>
                                <tr style="background-color: rgb(3, 15, 119);padding:5px 5px 2px 5px;margin-bottom: 10px;">
                                    <th scope="col" style="color:white">Tanggal</th>
                                    <th scope="col" style="color:white">Syariah</th>
                                </tr>
                            </thead>
                            {% if judul_format == 'tahunan_detail'%}
                                {% for b in segmentasi_kinerja_2 %}
                                {% if b.kode_mro == a.kode_mro %}
                                {% load humanize %}
                                    <tbody style="margin-top: 10px;">
                                        <tr>
                                            <td style="text-align:center;padding-top:5px;">{{ b.month|date:"M/Y" }}</td>
                                            <td style="text-align:center;padding-top:5px;">Rp. {{ b.syariah|floatformat:0  | intcomma }}</td>
                                        </tr>
                                    </tbody>
                                {%endif%}
                                {%endfor%}
                            {% elif judul_format == 'bulanan'%}
                                {% for b in segmentasi_kinerja_mingguan_2 %}
                                {% if b.kode_mro == a.kode_mro %}
                                {% load humanize %}
                                    <tbody style="margin-top: 10px;">
                                        <tr>
                                            <td style="text-align:center;padding-top:5px;">
                                                {% if b.week == sum_week_brisurf %}
                                                    {{ startdate_weekly_brisurf | date:"d, b / Y" }} - {{ enddate_weekly_brisurf | date:"d, b / Y" }}
                                                {%elif b.week == sum_week_brisurf_2 %}
                                                    {{ startdate_weekly_brisurf_2 | date:"d, b / Y" }} - {{ enddate_weekly_brisurf_2 | date:"d, b / Y" }}
                                                {%elif b.week == sum_week_brisurf_3%}
                                                    {{ startdate_weekly_brisurf_3 | date:"d, b / Y" }} - {{ enddate_weekly_brisurf_3 | date:"d, b / Y" }}
                                                {%elif b.week == sum_week_brisurf_4%}
                                                    {{ startdate_weekly_brisurf_4 | date:"d, b / Y" }} - {{ enddate_weekly_brisurf_4 | date:"d, b / Y" }}
                                                {%elif b.week == sum_week_brisurf_5%}
                                                    {{ startdate_weekly_brisurf_5 | date:"d, b / Y" }} - {{ enddate_weekly_brisurf_5 | date:"d, b / Y" }}
                                                {%else%}
                                                    -
                                                {%endif%}
                                            </td>
                                            <td style="text-align:center;padding-top:5px;">Rp. {{ b.syariah|floatformat:0  | intcomma }}</td>
                                        </tr>
                                    </tbody>
                                {%endif%}
                                {%endfor%}
                            {%endif%}
                        </table>
                    </td>
                </tr>
            </table>
            
            <div class="content-block"style="margin-bottom:3px;">
                <table style="background-color: rgb(236, 236, 236);">
                    {%for b in segmentasi_tahuanan%}
                    {%if b.kode_mro == a.kode_mro %}
                    {% load humanize %}
                    <tbody>
                        <tr>
                            <td style="text-align:center;padding-top:5px;color:black;"><h6>Total</h6></td>
                            <td style="text-align:center;padding-top:5px;"><h6>Rp. {{ b.syariah|floatformat:0  | intcomma }}</h6></td>
                        </tr>
                    </tbody>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>

            
            {% for b in segmentasi_tahuanan %}
            {% if b.kode_mro == a.kode_mro %}
            {% load humanize %}
                <div class="content-block" style="margin-top: 10px;">
                    <table style="background-color: rgb(236, 236, 236);">
                        <tbody>
                            <tr>
                                <td style="text-align:left;padding-top:5px;color:black;padding-left: 5px;"><h6>Total Keseluruhan Premi Segmentasi {{a.nama_mro}} : Rp. {{ b.premi_total |floatformat:0  | intcomma }}</h6></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            {%endif%}
            {%endfor%}

        <div>
            <pdf:nextpage /> 
        </div>

        {%endif%}
        {%endfor%}
    {%else%}
        {%for a in mro_detail_mingguan_2 %}
        {% if a.branch == cabang %}
            <div style="width: 150px;margin-bottom: 20px;">
                <img src="../static/image/logo.png" alt="">
            </div>

            <table>
                <tr style="padding-top: 1px;">
                    <td>Id Report : {{ running_id }}</td>
                    <td>Kode Cabang Utama: {{ a.kode_mro }} - {{ a.nama_mro }}</td>
                    <td>Laporan Dikirim : {{ today }}</td>
                </tr>

                <tr style="padding-top: 1px;">
                    <td>Email Penerima : {{ email_penerima }}</td>
                    <td>Format Lampiran : <b>Bulanan</b> - <b>Produksi Segmentasi</b></td>
                    <td>Data Laporan tanggal : {{ enddate | date:"d, b / Y" }} - {{ startdate | date:"d, b / Y" }}</td>
                </tr>
            </table>
            
            <hr class='hrItem' />

            <h6 style="font-size: 10px;">CABANG / ROS : {{a.nama_cabang}} / {{a.nama_mro}}</h6>
            <table>
                <tr>
                    <td style="vertical-align: top;">
                        <table id="table-info">
                            <thead>
                                <tr style="background-color: rgb(3, 15, 119);padding:5px 5px 2px 5px;margin-bottom: 10px;">
                                    <th scope="col" style="color:white">Tanggal</th>
                                    <th scope="col" style="color:white">Syariah</th>
                                </tr>
                            </thead>
                            {% if judul_format == 'mingguan'%}
                                {% for b in segker_mingguan_2 %}
                                {% if b.kode_mro == a.kode_mro %}
                                {% load humanize %}
                                    <tbody style="margin-top: 10px;">
                                        <tr>
                                            <td style="text-align:center;padding-top:5px;">{{ b.date }}</td>
                                            <td style="text-align:center;padding-top:5px;">Rp. {{ b.syariah|floatformat:0  | intcomma }}</td>
                                        </tr>
                                    </tbody>
                                {%endif%}
                                {%endfor%}
                            {%endif%}
                        </table>
                    </td>
                </tr>
            </table>
            
            <div class="content-block"style="margin-bottom:3px;">
                <table style="background-color: rgb(236, 236, 236);">
                    {%for b in segmentasi_tahuanan%}
                    {%if b.kode_mro == a.kode_mro %}
                    {% load humanize %}
                    <tbody>
                        <tr>
                            <td style="text-align:center;padding-top:5px;color:black;"><h6>Total</h6></td>
                            <td style="text-align:center;padding-top:5px;"><h6>Rp. {{ b.syariah|floatformat:0  | intcomma }}</h6></td>
                        </tr>
                    </tbody>
                    {%endif%}
                    {%endfor%}
                </table>
            </div>
        <div>
            <pdf:nextpage /> 
        </div>

        {%endif%}
        {%endfor%}
    {%endif%}

    

    <div style="background-color: rgb(227, 227, 227);padding: 10px 10px 5px 10px;">
        {%if judul_format == 'tahunan_detail'%}
            {% for test in trunct_month %}
            {% load humanize %}
                {%if judul_format != 'tahunan_detail' %}
                {%if test.branch == cabang%}
                    <h6>Total Penjualan bulan - {{ test.month|date:"M/Y" }} : Rp.{{ test.c |floatformat:2 | intcomma }}</h6>
                {%endif%}
                {%endif%}
            {%endfor%}
        {%endif%}
    </div>
    
</div>