<div class="body-informasi">
    <table class="table-info" style="border:1px solid black">
        <tr>
            <td>
                <table>
                    <tr style="background: #00529C;color: white;padding: 4px;">
                        <th>Laporan Segmentasi</th>
                    </tr>
                    <tr style="padding-top: 7px;">
                        <th>Wholesale</th>
                        <td>Bagian 1</td>
                    </tr>
                    <tr style="padding-top: 7px;">
                        <th>Ritel</th>
                        <td>Bagian 1</td>
                    </tr>
                    <tr style="padding-top: 7px;">
                        <th>Ritel Mikro</th>
                        <td>Bagian 1</td>
                    </tr>
                    <tr style="padding-top: 7px;">
                        <th>Digital</th>
                        <td>Bagian 1</td>
                    </tr>
                    <tr style="padding-top: 7px;">
                        <th>Syariah</th>
                        <td>Bagian 1</td>
                    </tr>
                    <tr style="padding-top: 7px;background-color: #e9e5e5;">
                        <th>Total</th>
                        <td>Bagian 1</td>
                    </tr>
                </table>
            </td>
            <td>
                <table style="border: 1px solid;">
                    <tr>
                        <td>
                            <table>
                                <tr style="background: #00529C;color: white;padding: 4px;">
                                    <th>Premi Brisurf Non Brisurf</th>
                                </tr>
                                <tr style="padding-top: 4px;">
                                    <th>Premi Brisurf</th>
                                    <td>Bagian 1</td>
                                </tr>
                                <tr style="padding-top: 4px;">
                                    <th>Premi Non Brisurf</th>
                                    <td>Bagian 1</td>
                                </tr>
                                <tr style="padding-top: 4px;background-color: #e9e5e5;">
                                    <th>Total</th>
                                    <td>Bagian 1</td>
                                </tr>
                            </table>

                            <table>
                                <tr style="background: #00529C;color: white;padding: 4px;">
                                    <th>Premi Captive Non Captive</th>
                                </tr>
                                <tr style="padding-top: 4px;">
                                    <th>Premi Captive</th>
                                    <td>Bagian 1</td>
                                </tr>
                                <tr style="padding-top: 4px;">
                                    <th>Premi Non Captive</th>
                                    <td>Bagian 1</td>
                                </tr>
                                <tr style="padding-top: 4px;background-color: #e9e5e5;">
                                    <th>Total</th>
                                    <td>Bagian 1</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>